body {
    padding: 0;
    margin: 0;
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    box-sizing: border-box;
}

/* Style the header with a grey background and some padding */

/*--------NAVBAR------ */
header {
    position: relative;
    background-color: #fff;
    font-size: 14px;
    line-height: normal;
    width: 100%;
    text-align: center;
}

.headerRow1 {
    overflow: hidden;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    padding: 0px 0px;
    display: inline-flex;
}

.headerRow1 .logo, 
.logoBar {
    float: left;
    width: 50%;
}

.headerRow1::after {
    content: "";
    display: table;
    clear: both;
}

.headerRow1 .logo {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.headerRow1 .canonLogo {
    float: left;
    align-content: flex-start;
    padding: 0 40px;
    width: 230px;
    height: 58px;
}

.headerRow1 .logoBar {
    float: right;    
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-end: 40px;
}

.headerRow1 a {
    float: right;
    position: relative;
    color: black;
    align-content: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
}

.headerRow1 a:hover {
    color: gray;
}

.headerRow2 {
    background: lightgrey;
    margin: 0;
    overflow: hidden;   
}

.headerRow2 ul {
    display: inline-flex;
    list-style: none;
    color: #4d4d4d;
}

/* Style the links inside the navigation bar */
.headerRow2 ul li {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 19px;
}

.headerRow2 ul li a {
    text-decoration: none;
    color: #4d4d4d;
}

/* Add an active class to highlight the current page */
.active, .headerRow2 ul li:hover {
    background: #969292;
    border-radius: 3px;
}

/* Style the dropdown content (hidden by default) */
.sub-meniu-1 {
    display: none;
    position: absolute;
    z-index: 1;
}

.headerRow2 ul li:hover .sub-meniu-1 {
    display: block;
    position: absolute;
    background: lightgray;
    margin-top: 15px;
    margin-left: -15px;
    text-align: left;
}

.headerRow2 ul li:hover .sub-meniu-1 ul {
    display: block;
    margin: 10px;
}

.headerRow2 ul li:hover .sub-meniu-1 ul li {
    font-size: 15px;
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.headerRow2 ul li:hover .sub-meniu-1 ul li:last-child {
    border-bottom: none;
}

.headerRow2 ul li:hover .sub-meniu-1 ul li a:hover {
    color: #fff;
}

.fa-angle-right {
    float: right;
}

.sub-meniu-2 {
    display: none;
}

.hover-me:hover .sub-meniu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: lightgrey;
}

/*Search image hero*/
.searchField {
    position: relative;
    line-height: normal;
    width: 100%;
    max-height: fit-content;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Img/canon-cashback-retina-banner-compressor.jpg");
  
    /* Set a specific height */
    height: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Search field*/
form.example input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    margin-bottom: 90px;
    background: #4d4d4d;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #969292;
  }
  
.hero-text h1,
p {
    overflow: hidden;
    width: 98%;
    text-align: center;
    color: white;
}
.hero-text h1 {
    padding-top: 90px;
}
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
}


/*Footer*/

.ct-footer-post {
    background: #000;
    padding: 10px 0;
  }
  
  .ct-footer-post .inner-left,
  .ct-footer-post .inner-right {
    padding: 10px 0;
  }
  
  .ct-footer-post ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 -20px;
    text-align: center;
  }
  
  .ct-footer-post ul li {
    display: inline-block;
    margin: 0 20px
  }
  
  .ct-footer-post a {
    color: #fff;
  }
  
  .ct-footer-post a:hover {
    text-decoration: underline;
  }
  
  .ct-footer-post p {
    color: #fff;
    text-align: center;
  }
  
  /* @media (min-width:768px) {
    .ct-footer-post p {
        display: inline-block;
    }
    .ct-footer-post p + p {
        padding-left: 50px;
    }
  }
  
  @media (min-width:992px) {
    .ct-footer-post .inner-left {
        float: left;
    }
    .ct-footer-post .inner-right {
        float: right;
    }
  }
  
  @media (max-width:991px) {
    .ct-footer-post {
        text-align: center;
    }
  } */
 
  
/*-------Add to Cart-------*/

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1.5em;  
}
/* .cart-section {
    overflow: hidden;
    width: 0;
    position: absolute;
}

.show-cart {
    max-width: 600px;
    padding: 0 1.5em;
    margin: 0 auto;
} */

.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 1.8em;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.cart-row {
    display: flex;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 25%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 20px auto 80px auto;
    font-size: 1.75em;
}


/*-----Side meniu------*/
nav {
    float: left;
    width: 20%;
    height: 79%;
    font-size: 15px;
    z-index: 2; 
    margin-top: 10px;
    margin-left: 20px;
    /* background-color: lightgray; */
}

.cd-filter {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    width: 30%;
    height: max-content;
}

.cd-filter-block ul {
    list-style-type: none;
}

 /*----Products card------*/

.products {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
    padding: 20px;
    margin-left: 15%;
}

/* Flex container */
#main {
    max-width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

/* Product items */
div.main {
    width: 25%;
}

div.main-in {
    box-sizing: border-box;
    margin: 5px; 
    padding: 20px;
    border: 1px solid #e7fcde;
    background: white;
}

img.p-img {
    width: 100%;
    height: auto;
}

div.p-name {
    font-weight: bold;
    font-size: 1.1em;
}

div.p-price {
    font-size: 1.1em;
    /* color: #f44242; */
}

button.p-add {
    background: #e60b0b;
    color: #fff;
    border: none;
    border-radius: 2px;
    width: 98%;
    padding: 10px;
    margin: 10x 5px 5px 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}
  /* Responsive */
  @media only screen and (max-width: 1024px) {
    div.main { width: 33%; }
  }
  @media only screen and (max-width: 600px) {
    div.main { width: 50%; }
  }


 


